/*
    custom.css
    Any site-specific CSS customization should be added to this file.
    This file overrides the defaults in illiad.css, which should not be altered.
*/


h1 {
    font-size: 3em;
    padding: 5px;
	margin-bottom: 0;
}

h2 {
	font-weight: bold;
	margin-bottom: 0.5em;
}

ul {
	margin-top: 2rem;
}

li {
	padding-bottom: 0.75em;
}

.head {
    background-color: #18264e;
	color: #fff;
    height: auto;
    padding: 5px;
    text-align: left;
}

.head img {

	width: 18%;
	height: 18%;
	padding-right: 10px;
	image-orientation: none;
	max-width: 300px;
}

@media screen and (max-width:992px){
    .head img {
	width: 30%;
	height: 30%;
	image-orientation: none;
	}
	
	h1 {
    font-size: 2em;
	}
}

@media screen and (max-width:576px){
    .head img {
	width: 45%;
	height: 45%;
	image-orientation: none;
	}
}


.page-header {
    padding: 2px 0 0;
}

.main-navbar {
    background-color: #18264e;
    font: bold 26px;
}

.navbar-nav {
    margin-top: 0;
}

nav li a {
    font: bolder 18px;
}

/* mb4 adjusts part of the menu spacing */
.mb-4, .my-4 {
    margin-bottom: 0rem!important;
}

.mt-4, .my-4 {
    margin-top: 0rem!important;
}

.alert-secondary {
    background-color: #fff;
}

.btn-alert {
	color: #b81f18;
}

/* button changes */
.btn-primary {
    background-color: #33678c;
    color: #fff;
}

.btn-primary:hover {
    background-color: #18264e;
    color: #fff;
    text-decoration: underline;
}

.btn-secondary.disabled, .btn-secondary:disabled {
	font-weight: 500;
}
.btn.disabled, .btn:disabled {
    opacity: unset;
}




/*footer*/
.foot p {
	padding: unset;
	color: #000000;
}

.foot {
    text-align: center;
}

div#hsl-footer div {
    margin-bottom: 0.75em;
}

/*cookie message */
#cm.bar {
	padding: 1em;
}

/*card header - mostly on article request page */
.card-header {
	background-color: #e9e9ef;
}

/* article page DOI and PMID field adjustments */
input#DOI {
    width: 50%;
    display: unset;
}

button#doibutton {
    display: unset;
	margin: 2px 0;
}

input#PMID {
    width: 50%;
    display: unset;
}

button#pmidbutton {
    display: unset;
	margin: 2px 0;
}

div#success p {
    margin-bottom: unset;
}

.text-danger {
    color: #b81f18 !important;
}

div.retraction {
  padding: unset;
}
div.retraction p {
  color: #b81f18;
  font-weight: 700;
  font-size: 1.5em;
  padding: unset;
}

div.retractcitations {
  padding: unset;
}
div.retractcitations p {
  color: #b81f18;
  padding: unset;
}

/* end article page DOI and PMID field adjustments */

/* loan isbn adjustments */
input#ISSN {
    width: 50%;
    display: unset;
}

button#isbnSearchBtn {
    display: unset;
	margin: 2px 0;
}

/* ebeff9 previous background color ededf2 */
form section {
  background-color: #ebeff9;  
  margin-bottom: 10px;
}

.form-group {
    margin-bottom: 0.75em;
}

/* tooltip hover over i symbol */

.tooltip {
  position: relative;
  display: inline-block;
  opacity: unset;
}

.tooltiprenew {
	display: flex;
	flex-direction: row-reverse;
    opacity: unset;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltiprenew .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
}

.tooltip:hover .tooltiptext,  .tooltiprenew:hover .tooltiptext {
  visibility: visible;
}

/* fixes contrast error with skip link */
a.offscreen {
    background-color: #000;
    color: #fff;
}

a.offscreen:hover {
    background-color: #000;
    color: #0000ff;
}

div#isbnError {
    padding-top: 5px;
    padding-left: 20px;
    color: #b81f18;
    font-weight: bold;
}

div#ebookmessage {
    padding-top: 5px;
    padding-left: 20px;
    color: #b81f18;
    font-weight: bold;
}
